@import url('https://fonts.cdnfonts.com/css/amazon-ember');

body {
    min-height: 200px;
    padding-top: 50px;
    font-family: 'Amazon Ember', 'Amazon Ember Cd RC', 'Amazon Ember Display', 'Amazon Ember Duospace', 'Amazon Ember Mono', 'Amazon Ember V2', sans-serif;
}

footer {
    background-color: #087269;
    font-family: 'Amazon Ember', 'Amazon Ember Cd RC', 'Amazon Ember Display', 'Amazon Ember Duospace', 'Amazon Ember Mono', 'Amazon Ember V2', sans-serif;
}

.copyright-text {
    background-color: rgba(0, 0, 0, 0.2);
}
