{% extends 'layout.html' %}

{% block title %}
Index of {{ directory }}
{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Name</th>
                        <th>Last modified</th>
                        <th>Size</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="bi bi-folder"></i></td>
                        <td><a href="{{ parent_directory }}">Parent Directory</a></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    {% for file in resources %}
                    <tr>
                        <td><i class="bi bi-file-earmark-text"></i></td>
                        <td><a href="{{ file.pdf_upload.url }}" download>{{ file.name }}</a></td>
                        <td>{{ file.modified_date }}</td>
                        <td>{{ file.size|filesizeformat }}</td>
                        <td>{{ file.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}
