{% extends 'layout.html' %}

{% block title %}About Us{% endblock %}

{% block body %}

  <main>
    <div id="aboutUs" class="container mt-5">
      <div class="card p-4">
        <h2 class="text-center mb-4">About Makerere University Human Nutrition Students' Association (MUHUNSA)</h2>

        <!-- Location -->
        <div class="mb-4">
          <h3>Location</h3>
          <p>P.O. Box 7062,<br>
            Kampala, Uganda<br>
            Makerere University<br>
            College of Agricultural and Environmental Sciences<br>
            School of Food Technology, Nutrition and Bio-engineering<br>
            Department of Food Technology and Nutrition<br>
            MAKERERE UNIVERSITY HUMAN NUTRITION STUDENTS' ASSOCIATION (MUHUNSA)</p>
        </div>

        <!-- Social Media -->
        <!-- <div class="mb-4">
          <h3>Social Media</h3>
          <ul>
            <li>Linked in - MUHUNSA</li>
            <li>X - @Muhunsa_MAK</li>
            <li>Instagram - @muhunsa_MAK</li>
            <li>TikTok - @muhunsa_MAK</li>
            <li>Facebook - MUHUNSA</li>
            <li>Email - muhunsamakerereuniversity@gmail.com</li>
          </ul>
        </div> -->

        <!-- More Details -->
        <div class="mb-4">
          <h3>Full Disclosure</h3>
          <p>The Makerere University Human Nutrition Students' Association (MUHUNSA) is a student-led organization established to promote the welfare and academic pursuits of students studying human nutrition at Makerere University's School of Food Technology, Nutrition and Bioengineering. Our purpose is to achieve the objectives outlined in this Constitution.</p>
        </div>

        <!-- Vision -->
        <div class="mb-4">
          <h3>Vision</h3>
          <p>Our vision is to cultivate a diverse and inclusive community of future nutrition leaders, equipped with academic, professional, and personal skills to drive positive change towards a healthier and more sustainable world through safe and nutritious food access.</p>
        </div>

        <!-- Mission -->
        <div class="mb-4">
          <h3>Mission</h3>
          <p>To inspire and empower the next generation of nutrition leaders by providing a dynamic platform for academic, professional, and personal growth. We strive to create a diverse, inclusive, and collaborative community that fosters intellectual curiosity, innovative thinking, and practical skills in the field of human nutrition.</p>
        </div>

        <!-- Objectives -->
        <div class="mb-4">
          <h3>Objectives</h3>
          <ul>
            <li>Promote unity and professional development among Human Nutrition Students.</li>
            <li>Effectively represent and advocate for the ideas and prospects of Human Nutrition Students.</li>
            <li>Educate and serve the community by creating awareness, participating in research programs, and organizing academic and outreach activities.</li>
          </ul>
        </div>

        <!-- Core Values -->
        <div class="mb-4">
          <h3>Core Values</h3>
          <ol>
            <li>Inclusivity: We value diversity and inclusiveness, creating a welcoming and supportive community for all human nutrition students.</li>
            <li>Excellence: We aim to promote academic excellence and encourage students to reach their full potential in the field of human nutrition.</li>
            <li>Responsibility: We take our role in the community and the world seriously, acting with integrity, accountability, and a commitment to making a positive impact.</li>
            <li>Collaboration: We believe in the power of working together and value collaboration and teamwork to achieve our goals.</li>
            <li>Innovation: We embrace new ideas, approaches, and technologies, encouraging students to think creatively in the pursuit of new knowledge and better solutions.</li>
            <li>Community: We believe in the importance of community, dedicated to serving the needs of human nutrition students and the wider community through education and outreach initiatives.</li>
          </ol>
        </div>

        <!-- Religious Affiliation -->
        <div class="mb-4">
          <h3>Religious Affiliation</h3>
          <p>Makerere University Human Nutrition Students’ Association (MUHUNSA) does not discriminate against any member or prospective member based on religion. The association recognizes and respects the diversity of religious beliefs among its members and shall not promote or endorse any particular religion or religious doctrine. Members are free to exercise their religious beliefs, provided that such exercise does not interfere with the association's activities or conflict with its purpose.</p>
        </div>

      </div>
    </div>
  </main>

{% endblock %}
