{% extends 'layout.html' %}
{% block title %}Index{% endblock %}
{% block body %}
<head>
   {% load static %}
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
   <!-- Google Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
   <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>
   <!-- Preloader -->
   <div class="preloader">
      <div class="loader">
         <div class="loader-outter"></div>
         <div class="loader-inner"></div>
         <div class="indicator">
            <svg width="16px" height="12px">
               <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
               <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
            </svg>
         </div>
      </div>
   </div>
   <!-- End Preloader -->
   <!--/ End Header Inner -->
   </header>
   <!-- End Header Area -->
   <!-- Slider Area -->
   <section class="slider">
      <div class="hero-slider">

         <!-- Start Single Slider -->
         <div class="single-slider">
             <div class="image-overlay" style="background-image: url('{% static 'img/v.jpg' %}')"></div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-7">
                     <div class="text">
                        <h1>MAKERERE UNIVERSITY HUMAN NUTRITION STUDENTS' ASSOCIATION</h1>
                        <p><b>Promoting Nutrition Awareness.</b> <br><br>Provide a platform for academic,  professional and personal skill  development in nutrition to drive towards positive change through innovative thinking, practical skills to achieve a healthier and more sustainable world </p>
                        <p></p>
                        <div class="button">
                           <!-- <a href="#" class="btn">Join MUHUNSA</a> -->
                           <a href="{% url 'about_us' %}" class="btn primary">OUR STORY</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Single Slider -->

         <!-- Start Single Slider -->
         <div class="single-slider">
             <div class="image-overlay" style="background-image: url('{% static 'img/y.jpg' %}')"></div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-7">
                     <div class="text">
                        <h1>Empowering Nutrition Leaders</h1>
                        <p>MUHUNSA is dedicated to community empowerment through comprehensive nutritional education. Engage with us in advocating the profound impact of proper nutrition on overall well-being, as we work together to cultivate a healthier and informed society. Join our mission to make nutritional knowledge accessible and impactful for everyone.</p>
                        <!-- <div class="button"> -->
                        <!-- <a href="#" class="btn">Get Appointment</a> -->
                        <!-- <a href="#" class="btn primary">About Us</a> -->
                        <!-- </div> -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Start End Slider -->
         <!-- Start Single Slider -->
         <div class="single-slider">
             <div class="image-overlay" style="background-image: url('{% static 'img/z.jpg' %}')"></div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-7">
                     <div class="text">
                        <h1>Connect with MUHUNSA</span></h1>
                        <p>Connect with nutrition enthusiasts and professionals. Together with MUHUNSA, let's build a healthier world.</p>
                        <div class="button">
                           <!-- <a href="#" class="btn">Get Appointment</a> -->
                           <a href="mailto:muhunsamakerereuniversity@gmail.com" class="btn">Contact Us</a>
                           <!--<a href="#" class="btn primary">Contact Now</a>-->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Single Slider -->
      </div>
   </section>
   <!--/ End Slider Area -->
   <!-- Start Schedule Area -->
   <section class="schedule">
      <div class="container">
         <div class="schedule-inner">
            <div class="row">
               <div class="col-lg-4 col-md-6 col-12 ">

                  <!-- single-schedule -->
                  <div class="single-schedule first">
                     <div class="inner">
                        <div class="icon">
                           <!-- <i class="fa fa-ambulance"></i> -->
                        </div>
                        <div class="single-content">
                           <span class="text-center">CAPACITY BUILDING</span>
                           <!--<h4>Nutrient-Rich Options</h4>-->
                           <p>Explore resources aimed at enhancing knowledge, skills and practice aimed at improving nutrition related practices, policies and interventions</p>
                            <a href="#">LEARN MORE<i class="bi bi-arrow-right"></i></i></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 col-12">

                  <!-- single-schedule -->
                  <div class="single-schedule middle">
                     <div class="inner">
                        <div class="icon">
                           <!-- <i class="icofont-prescription"></i> -->
                        </div>
                        <div class="single-content">
                           <span class="text-center">DIET AND OVERALL WELLBEING</span>
                           <!--<h4>Nutrition Workshops</h4>-->
                           <p>Discover a wide range of information to enrich your nutritional knowledge and guide in making of informed choices about diet and overall health and well being</p>
                           <a href="#">LEARN MORE<i class="bi bi-arrow-right"></i></i></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-12 col-12">
                  <!-- single-schedule -->
                  <div class="single-schedule last">
                     <div class="inner">
                        <div class="icon">
                           <!-- <i class="icofont-ui-clock"></i> -->
                        </div>
                        <div class="single-content">
                           <span class="text-center">COLLABORATION</span>
                           <p>Discover the roles of the different industry players in addressing the different nutritional challenges for more effective interventions</p>
                           <br>
                           <!--<h4>Consultation Hours</h4>-->
                           <!--<ul class="time-sidual">-->
                           <!--   <li class="day">Monday - Friday <span>8.00-20.00</span></li>-->
                           <!--   <li class="day">Saturday <span>9.00-18.30</span></li>-->
                           <!--   <li class="day">Sunday <span>9.00-15.00</span></li>-->
                           <!--</ul>-->
                           <a href="#">LEARN MORE<i class="bi bi-arrow-right"></i></i></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
   <script src="{% static 'js/slicknav.min.js' %}"></script>
   <script src="{% static 'js/owl-carousel.js' %}"></script>
   <script src="{% static 'js/main.js' %}"></script>
</body>
{% endblock %}
